.footer {
    background-color: #333;
    display: flex;
    width: 100%;
    height: 100px;
    color: #fff;
    margin: 0;
    padding: 24px 12px;
    justify-content: center;
}

.footer p {
    text-align: center;
}