
.wrapper-cards-acitons {
    padding: 3rem;
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
    height: 80vh;
}

.card-action {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 300px;
    padding: 2em;
    background-color: #333;
    color: #b38bff;
    justify-content: center;
    border-radius: 16px;
    align-items: center;
}

.card-action i {
    font-size: 40px;
    margin-bottom: 16px;
}