.hader-dashboard {
  color: #fff;
}
/******
 Styles
 *******/
table {
  font-weight: 400;
  min-width: 420px;
  width: 100%;
}
table thead {
  display: none;
  font-weight: 500;
  background-color: #b38bff;
}
table tbody tr {
  border: 1px solid #dad6eb;
  border-radius: 5px;
  display: block;
  padding: 30px;
  margin-bottom: 30px;
}
table tbody tr td {
  display: block;
  font-weight: 500;
  padding: 5px;
  position: relative;
  text-align: right;
}
table tbody tr td button {
  background: #927cfe;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(34, 34, 34, 0.2);
  bottom: -30px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  left: 50%;
  padding: 10px 0;
  position: absolute;
  transform: translate(-50%, 50%);
  transition: background 0.12s ease-out;
  width: 50%;
}
table tbody tr td button:hover, table tbody tr td button:focus {
  background: #a795fe;
  cursor: pointer;
}
table tbody tr td:before {
  color: #8a8a87;
  content: attr(data-label);
  font-weight: 400;
  left: 5px;
  position: absolute;
}
@media (min-width: 768px) {
  table {
    border: 1px solid #eee;
    border-collapse: collapse;
    max-width: 80%;
    text-align: left;
    width: 100%;
  }
  table thead {
    display: table-header-group;
  }
  table thead th {
    padding: 10px;
  }
  table tbody {
    font-size: 0.875em;
    background-color: #fff;
  }
  table tbody tr {
    border: none;
    display: table-row;
  }
  table tbody tr:nth-child(odd) {
    background: #eee;
  }
  table tbody tr td {
    display: table-cell;
    font-weight: 400;
    padding: 10px;
    text-align: left;
  }
  table tbody tr td button {
    display: inline-block;
    padding: 10px 15px;
    position: initial;
    transform: translate(0);
    width: auto;
    margin-right: 16px;
  }
  table tbody tr td:before {
    display: none;
  }
  table tbody tr td:last-child {
    text-align: right;
  }
}

button.neg {
  background-color: #ff0000b8;
}

button.neg:hover {
  background-color:#842029;
}

button.ap{
  background-color: #5dda7b;
}


button.status {
  height: 42px;
  font-size: 14px;
}